{% extends 'header.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="all">
    <div class="first">
        <div class="one">Idea:</div>
        <div class="idea">
            Die Idee für VitaBoost kam uns, weil wir ein Getränk wollten, das nicht nur gesund ist, sondern auch richtig
            gut schmeckt. Viele Vitamingetränke, die wir ausprobiert haben, waren entweder langweilig oder schmeckten
            künstlich. Wir dachten uns "Das muss besser gehen." Also haben wir angefangen, selbst zu experimentieren.
            Anfangs war es gar nicht so leicht, die perfekte Rezeptur zu finden. Wir haben zahlreiche Zutaten
            kombiniert, Mischverhältnisse verändert und unzählige Geschacksproben gemacht, bis wir endlich das perfekte
            Zusammenspiel von Frische, Geschmack und Wirkung erreicht hatten. Dabei war uns besonders wichtig, dass
            unser Getränk nicht nur gut schmeckt, sondern auch mit hochwertigen Inhaltsstoffen überzeugt. Nach vielen
            Tests sind schliesslich drei besondere Sorten entstanden, die nicht nur geschmacklich begeistern, sondern
            auch optisch ein Hingucker sind. Blue Ice - ein türkisblauer Drink, der erfrischend und belebend wirkt, fast
            wie ein Sprung in einen kalten Bergsee. Die Kombination aus natürlichen Aromen und einer dezenten Süsse
            macht ihn zum perfekten Begleiter für heisse Sommertage oder einen extra Frischekick zwischendurch. Bloddy
            Marry - unser energiegeladenes Power-Getränk. Die kräftige rote Farbe spiegelt seine Intensität wider.
            Dieser Drink gibt dir genau den frischen Kick, den du brauchst, wenn du neue Energie tanken möchtest – sei
            es am Morgen, nach dem Sport oder einfach, um deinen Tag mit neuer Power anzugehen. Original – ein
            strahlendes Sonnengelb, das sofort gute Laune macht. Der fruchtige und angenehm milde Geschmack macht ihn zu
            einem echten Allrounder, der immer passt – ob als morgendlicher Wachmacher, als Begleiter im Büro oder zur
            Erfrischung nach einem langen Tag. Unser Ziel war es, ein Getränk zu kreieren, das nicht nur gesund ist,
            sondern auch Freude bereitet. VitaBoost soll zeigen, dass gesunde Getränke Spass machen und nicht langweilig
            oder fade sein müssen. Deshalb haben wir uns bewusst dazu entschieden, auf künstliche Zusatzstoffe zu
            verzichten. Jedes unserer Getränke ist mit hochwertigen Zutaten hergestellt und enthält ausschliesslich
            natürliche Aromen und Vitamine. Uns war es wichtig, ein Produkt zu schaffen, das nicht nur kurzfristig
            belebt, sondern langfristig zum Wohlbefinden beiträgt. Wir glauben daran, dass gesunde Ernährung kein
            Kompromiss sein sollte – und genau das möchten wir mit VitaBoost beweisen. Unser Anspruch ist es, euch nicht
            nur ein Getränk, sondern ein echtes Geschmackserlebnis zu bieten. Egal ob du nach einem natürlichen
            Energiekick suchst, eine gesunde Alternative zu herkömmlichen Softdrinks brauchst oder einfach ein
            erfrischendes Getränk geniessen möchtest – mit VitaBoost bekommst du all das in einer Flasche. Wir freuen
            uns darauf, VitaBoost mit euch zu teilen und euch zu zeigen, dass gesunde Getränke alles andere als
            langweilig sein müssen. Probiert es aus und erlebt selbst, wie gut gesunde Erfrischung schmecken kann!
        </div>
    </div>
    <div class="second">
        <div class="two">Creators:</div>
        <div class="creators">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <h4>Levin - Creative Director</h4>
                        Levin ist das kreative Herz unseres Teams. Er entwickelt die Ideen für unsere Sorten und legt
                        grossen Wert auf das perfekte Zusammenspiel von Geschmack, Farbe und Präsentation.
                    </div>
                    <div class="col">
                        <h4>Jan - Chief Financial Officer (CFO)</h4>
                        Jan hat den Überblick über Zahlen, Finanzen und strategische Entscheidungen. Er sorgt dafür,
                        dass wir immer effizient und wirtschaftlich arbeiten. Mit seinem Organisationstalent hält er
                        alle Fäden zusammen und schafft die Grundlage für unseren Wachstum.
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Dan - Head of Product Development</h4>
                        Dan ist unser Geschmackstüftler. Er experimentiert mit Aromen und Rezepturen, bis jedes Getränk
                        seinen einzigartigen Charakter bekommt. Durch seine Arbeit sind Blue Ice, Bloody Marry und
                        Original nicht nur gesund, sondern überzeugen auch mit ihrem perfekten Geschmack.
                    </div>
                    <div class="col">
                        <h4>Callum - Chief Operations Officer (COO)</h4>
                        Callum ist für die Produktionsprozesse verantwortlich und sorgt dafür, dass alles reibungslos
                        läuft. Egal ob Maschinen, Abläufe oder technische Herausforderungen - Callum findet immer eine
                        Lösung und stellt sicher, dass unsere Drinks in Top-Qualität entstehen.
                    </div>
                    <div class="col">
                        <h4>Blenda - Marketing & Communications Manager</h4>
                        Blenda kümmert sich darum, dass VitaBoost gehört und gesehen wird. Sie entwickelt kreative
                        Marketingkampagnen und spricht mit Kunden, Partnern und der Community. Ihre Leidenschaft für
                        Kommunikation bringt unsere Marke nach aussen und sorgt für Begeisterung.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="third">
        <div class="three">Sponsors:</div>
        <div class="sponsors">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <h4>Marc Heusser</h4>
                        <img src="{{ url_for('static', filename='assets/bottles/mark.png') }}" alt="">
                    </div>
                    <div class="col">
                        <h4>Sarah Fischer</h4>
                        <img src="{{ url_for('static', filename='assets/bottles/Sarah.png') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Simon Egli</h4>
                        <img src="{{ url_for('static', filename='assets/bottles/simon_egli.jpg') }}" alt="">
                    </div>
                    <div class="col">
                        <h4>Manuel Gasser</h4>
                        <img src="{{ url_for('static', filename='assets/bottles/manuel.png') }}" alt="">
                    </div>
                    <div class="col">
                        <h4>Remo Kilchsperger</h4>
                        <img src="{{ url_for('static', filename='assets/bottles/Remo.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a class="logo" href="{{ url_for('home') }}"><img class="logo"
                                                          src="{{ url_for('static', filename='assets/logos/logo.png') }}"
                                                          alt=""></a>
        <div class="middle">
            <a class="title" href="{{ url_for('home') }}"><h1 class="title">VitaBoost</h1></a>
            <nav class="links">
                <ul>
                    <li><a href="{{ url_for('home') }}">Shop</a></li>
                    <li><a href="{{ url_for('about_flask') }}">About Us</a></li>
                    <li><a href="{{ url_for('get_languages') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="icons">
            <a class="profile" href="{{ url_for('get_languages') }}"><img class="profile"
                                                                          src="{{ url_for('static', filename='assets/icons/user.png') }}"
                                                                          alt=""></a>
            <a class="cart" href="{{ url_for('get_languages') }}"><img class="cart"
                                                                       src="{{ url_for('static', filename='assets/icons/shopping-cart.png') }}"
                                                                       alt=""></a>
        </div>
    </div>
</div>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
          rel="stylesheet">
</head>

{% endblock %}