{% extends 'header.html' %}

{% block title %}Cart{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">{% endblock %}

{% block content %}
    <div class="container">
        <div class="left">
            <h1 class="headline">Warenkorb</h1>
            <div class="inhaltWarenkorb">Es befinden sich noch keine Produkte im Warenkorb</div>
            <a href="{{ url_for('shop') }}"><button class="shoppen">Jetzt shoppen!</button></a>
        </div>
        <div class="zahlungsContainer">
            <h2 class="Titel">Zusammenfassung</h2>
            <div class="versand">
                <div class="absatz">
                    <div class="voraus">Zwischensumme</div>
                    <div>-</div>
                </div>
                <div class="absatz">
                    <div class="voraus">Voraussichtliche Versand- und&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Abfertigungskosten
                    </div>
                    <div>Kostenlos</div>
                </div>
                <div class="linie">____________________________________________</div>
                <div class="absatz">
                    <div class="voraus">
                        <div class="gesamt">Gesamt</div>
                    </div>
                    <div class="gesamt">-</div>
                </div>
                <div class="linie">____________________________________________</div>
            </div>

            <button class="payment-button">
                <img class="logos" src="{{ url_for('static', filename='assets/logos/visa.png') }}" alt="VISA"></button>
            <button class="payment-button">
                <img class="logos" src="{{ url_for('static', filename='assets/logos/twint.png') }}" alt="TWINT"></button>
            <button class="payment-button">
                <img class="logos" src="{{ url_for('static', filename='assets/logos/paypal.png') }}" alt="PayPal"></button>
        </div>
    </div>
{% endblock %}