<!-- /templates/header.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='assets/logos/favicon.ico') }}" type="image/x-icon">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="header">
    <a class="logo" href="{{ url_for('home') }}"><img class="logo"
                                                      src="{{ url_for('static', filename='assets/logos/logo.png') }}"
                                                      alt=""></a>
    <div class="middle">
        <a class="title" href="{{ url_for('home') }}"><h1 class="title">VitaBoost</h1></a>
        <nav class="links">
            <ul>
                <li><a href="{{ url_for('shop') }}">Shop</a></li>
                <li><a href="{{ url_for('about_flask') }}">About Us</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="icons">
        <a class="profile" href="{{ url_for('profile') }}">
            <img class="profile" src="{{ url_for('static', filename='assets/icons/user.png') }}" alt="">
        </a>

        <a class="cart" href="{{ url_for('cart') }}">
            <img class="cart" src="{{ url_for('static', filename='assets/icons/shopping-cart.png') }}" alt="">
            <span id="cart-count" class="cart-badge"
                  {% if session.get('cart_count', 0) > 0 %}style="display: block;"{% else %}style="display: none;"{%
            endif %}>
            {{ session.get('cart_count', 0) }}
            </span>

        </a>
    </div>
</div>

{% block content %}
{% endblock %}

{% include 'footer.html' %}
</body>
</html>