{% extends 'header2.html' %}

{% block title %}PayPal{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/paypal.css') }}">

<div class="container">

    <main class="content">
        <img src="{{ url_for('static', filename='assets/logos/paypal.PNG') }}">
        <h2>Bei PayPal einloggen</h2>
        <form class="form">

            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email" required placeholder="maxmustermann@icloud.com">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Mindestens 8 Zeichen">


            <button type="submit">Einloggen</button>
        </form>
    </main>
</div>
{% include 'footer2.html' %}
{% endblock %}
