{% extends 'header.html' %}

{% block title %}PayPal{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/paypal.css') }}">

<div class="container">

    <main class="content">
        <img src="{{ url_for('static', filename='assets/logos/paypal.PNG') }}">
        <h2>Bei PayPal einloggen</h2>
        <form class="form">

            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email"  placeholder="maxmustermann@icloud.com" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"  placeholder="Mindestens 8 Zeichen" required>

            <a href="{{ url_for('paypalZahlungsbildschirm') }}">
    <button type="submit" onclick="clearCartAndRedirect(event)">Einloggen</button>
                </a>
        </form>
        <script>
            function clearCartAndRedirect(event) {
                event.preventDefault();

                fetch("{{ url_for('clear_cart') }}")
                    .then(() => {
                        window.location.href = "{{ url_for('paypalZahlungsbildschirm') }}";
                    });
            }
        </script>
    </main>

</div>
{% endblock %}

