{% extends 'header.html' %}

{% block title %}Registrieren{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">

    <div class="container">
        <aside class="sidebar">
            <nav class="sidebar-nav">
                <ul>
                    <li class="headline"><p>Profil & Passwort</p></li>
                    <li class="line"><a>Rechnungsadresse</a></li>
                    <li class="line"><a>Sicherheit</a></li>
                    <li class="line"><a>Passwort ändern</a></li>
                    <li class="line"><a>Benachrichtigungen</a></li>
                    <li class="baseline" style="color: red; text-decoration: none;"
                        onmouseover="this.style.textDecoration='underline'"
                        onmouseout="this.style.textDecoration='none'"><a
                            href="{{ url_for('deleteaccount') }}">Account löschen...</a></li>
                </ul>
                <a href="{{ url_for('login') }}">
                    <button>Login</button>
                </a>
            </nav>
        </aside>

        <main class="content">
            <h2>VitaBoost-Account erstellen</h2>
            <form class="form" action="{{ url_for('submit') }}" method="POST">
                <label for="firstname">Vorname:</label>
                <input type="text" id="firstname" name="firstname" required placeholder="Max">

                <label for="surname">Nachname:</label>
                <input type="text" id="surname" name="surname" required placeholder="Mustermann">

                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email" required placeholder="maxmustermann@icloud.com">

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="Mindestens 8 Zeichen">

                <label for="password_again">Password erneut eingeben:</label>
                <input type="password" id="password_again" name="password_again" required
                       placeholder="Mindestens 8 Zeichen">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}

                <label>Geburtsdatum:</label>
                <input type="date" id="birthdate" name="birthdate" required>

                <button class="regiestrieenButton" type="submit">Account erstellen</button>
                <li class="login"><a href="{{ url_for('login') }}">Bereits einen Account?</a></li>
            </form>
        </main>
    </div>

{% endblock %}
