{% extends 'header.html' %}

{% block title %}Registrieren{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">

<div class="container">
    <aside class="sidebar">
        <nav class="sidebar-nav">
            <ul>
                <li class="headline"><p>Profil & Passwort</p></li>
                <li class="line"><a>Rechnungsadresse</a></li>
                <li class="line"><a>Sicherheit</a></li>
                <li class="line"><a>Passwort ändern</a></li>
                <li class="line"><a>Benachrichtigungen</a></li>
                <li class="baseline" style="color: red; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'"><p>Account löschen...</p></li>
            </ul>
        </nav>
    </aside>

    <main class="content">
        <h2>VitaBoost-Account erstellen</h2>
        <form class="form">
            <label for="name">Voller Name:</label>
            <input type="text" id="name" name="name" required placeholder="Max Mustermann">

            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email" required placeholder="maxmustermann@icloud.com">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Mindestens 8 Zeichen">


            <label>Geburtsjahr:</label>
            <select class="options">
                <option class="item active">2025</option>
                {% for year in range(2024, 1899, -1) %}
                <option class="item">{{ year }}</option>
                {% endfor %}
            </select>


            <button type="submit">Account erstellen</button>
             <li class="login"><a href="{{ url_for('login') }}">Bereits einen Account?</a></li>
        </form>
    </main>
</div>

{% endblock %}
