{% extends 'header.html' %}

{% block title %}Card payment{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/visa.css') }}">



<main class="content">
    <h2>
        <img src="{{ url_for('static', filename='assets/logos/cards.png') }}">
    </h2>
    <form class="form">
        <label>Kartennummer:</label>
        <input type="number" required placeholder="1234-5678-9101-1213">

        <label>Name auf der Karte</label>
        <input type="name" required placeholder="Max Mustermann">

        <label>CVP:</label>
        <input pattern="\d{3}" maxlength="3" placeholder="xxx" required>

        <label>Ablaufdatum: </label>
        <input placeholder="xx/xx" required>

    <button type="submit" onclick="clearCartAndRedirect(event)">Kauf bestätigen</button>

    </form>


<script>
    function clearCartAndRedirect(event) {
        event.preventDefault();

        fetch("{{ url_for('clear_cart') }}")
            .then(() => {
                window.location.href = "{{ url_for('bestellbestaetigung') }}";
            });
    }
</script>



</main>

{% endblock %}


