.alll {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 5%;
    box-sizing: border-box;
}

.rectangle {
    width: 100%;
    max-width: 1550px;
    min-height: 50vh;
    padding: 3% 3%;
    border: 3px solid black;
    box-sizing: border-box;
}

.test {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.titel {
    color: #283557;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    padding-bottom: 5vh;
}

.subtitle, .details {
    text-align: right;
}

.btnn {
    background-color: #283557;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    border: none;
}

.form-group {
    width: 100%;
    flex: 1;
}

.subtitle {
    font-weight: bold;
    font-size: 2vw;
    color: #283557;
    text-align: right;
}

.detailsBig {
    flex: 1;
}

@media (max-width: 768px) {
    .test {
        flex-direction: column;
        align-items: center;
    }

    .titel {
        font-size: 6vw;
    }

    .subtitle {
        font-size: 4vw;
        text-align: center;
    }

    .details {
        text-align: center;
    }

    .btnn {
        width: 100%;
        font-size: 18px;
    }

    .form-group {
        width: 100%;
    }
}
