h2{
    display: flex;
    justify-content: center;
}
a{
    display: flex;
    justify-self: center;
    color:green;
    font-size: 30px;
}
.haken{
    display: flex;
    justify-self: center;
    width: 19%;
    height: auto;
    padding-bottom: 30%;
}