p{
    display: flex;
    justify-content: center;
    color:red;
    align-items: center;
    font-size: 30px;
}
.rauchen{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 19%;
    height: auto;
    padding-bottom: 25%;
}