body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}
.home_body1 {
    background: #E6E6E6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.home_body1 .socials {
    display: flex;
    flex-direction: row;
}

.home_body1 .socials img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}

.home_body1 .socials .tiktok {
    width: 38px;
    height: auto;
    margin: -5px 10px;
}

.home_body2{
    padding: 0 30%;
}

.da_three_drinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.original, .bloody {
    flex: 1;
}

.blue {
    flex: 0;
    margin: 0 auto;
    padding-right: 20%;
    padding-left: 20%;
}

.original, .blue, .bloody {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}


.home_body3{
    display: flex;
    padding-top: 4%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-bottom: 4%;
}

.text{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.vitamin-circle{
    width: 20%;
}


.home_body4{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    padding-bottom: 5%;
}

.johann{
    width: 10%;
}

.zitats{
    font-size: 20px;
    color: rgb(161, 161, 161);
    padding-bottom: 1%;
}

.wolfgang{
    font-family: "Georgia", sans-serif;
    font-size: 14px;
    color: rgb(161, 161, 161);
    font-style: italic;
}